.contenedor-general > * {
  width: 10rem;
  height: 10rem;
  background-color: aquamarine;
  margin-top: 1rem;
  border: 1px solid green;
}

/* Si no coloco position, por defecto el position es static */
.contenedor1 {
  position: relative;
}
.contenedor2 {
  position: relative;
}

.item1 {
  position: absolute;
  z-index: 1;
}
.item2 {
  position: absolute;
}
