.contenedor-general > * {
  width: 10rem;
  height: 10rem;
  margin-top: 1rem;
  border: 1px solid green;
}

/* Si no coloco position, por defecto el position es static */
.contenedor1 {
  background-color: black;
  position: absolute;
}
.contenedor2 {
  background-color: aquamarine;
  position: absolute;
}

.item1 {
  position: absolute;
}
.item2 {
  position: absolute;
}
